<!--
 * jVoiDView userCheckout
 * 
 * @author Shajir
 * @version 1.0
 *
 -->

<div class="jumbotron">
	<h1>
		{{title}}
	</h1>
	<p>
		{{detTitle}}
	</p>
</div>

<div>
	<form name="signup_form" novalidate ng-submit="submit()">
		<fieldset>
			<legend>Checkout Details</legend>
			<div class="row">
				<div class="large-12 columns">
					<span>{{user.firstName}} {{user.lastName}}</span><br>
					<span>{{user.email}}</span>
		    	</div>
		    </div><br>
		    
		    <legend>Billing Address</legend>
			<div class="row">
				<div class="large-12 columns">
					<span>{{user.streetAddress1}}</span><br>
					<span>{{user.streetAddress2}}, {{user.streetAddress3}}</span><br>
					<span>{{user.city}}</span><br>
					<span ng-show="isSStatesDisplay">{{user.state.name}}</span><br ng-show="isSStatesDisplay">
					<span>{{user.country.name}}</span><br>
					<span>{{user.postalCode}}</span><br>
					<span>Phone: {{user.phone}}</span><br>
					<span>Fax: {{user.fax}}</span><br>
		    	</div>
		    </div><br>
		    
		    <legend>Shipping Address</legend>
		    <div class="row">
				<div class="large-12 columns">
		    		<span>Same as Billing Address</span> <input type="checkbox" ng-change='onCHeckBoxAction(address)' ng-model="checked">
		    	</div>
		    </div><br>
		    <div class="row" ng-show="checked">
				<div class="large-12 columns">
					<span>{{user.streetAddress1}}</span><br>
					<span>{{user.streetAddress2}}, {{user.streetAddress3}}</span><br>
					<span>{{user.city}}</span><br>
					<span ng-show="isSStatesDisplay">{{user.state.name}}</span><br ng-show="isSStatesDisplay">
					<span>{{user.country.name}}</span><br>
					<span>{{user.postalCode}}</span><br>
					<span>Phone: {{user.phone}}</span><br>
					<span>Fax: {{user.fax}}</span><br>
				</div>
		    </div><br>	
		    
		    <div ng-hide="checked">
		    	<span class="rightNotes">*Required Fields</span>
				<div class="row">
					<div class="large-12 columns">
						<label>Prefix:</label>
			    		<input type="text" placeholder="Mr" name="prefix" size="40" ng-model="shipping.prefix"/>
			    	</div>
			    </div><br>
				<div class="row">
					<div class="large-12 columns">
						<label>First Name<span style="color:red">*</span>:</label>
			    		<input type="text" placeholder="First Name" name="firstName" size="40" ng-model="shipping.firstName" ng-minlength=3 ng-maxlength=20 required/>
			    		<span style="color:red" ng-show="signup_form.firstName.$dirty && signup_form.firstName.$invalid">
							<span ng-show="signup_form.firstName.$error.required">First Name is required</span>
							<span ng-show="signup_form.firstName.$error.minlength">Your name is required to be at least 3 characters</span>
							<span ng-show="signup_form.firstName.$error.maxlength">Your name cannot be longer than 20 characters</span>
						</span>
			    	</div>
			    </div><br>
			    <div class="row">
					<div class="large-12 columns">
						<label>Last Name<span style="color:red">*</span>:</label>
			    		<input type="text" placeholder="Last Name" name="lastName" size="40" ng-model="shipping.lastName" ng-minlength=1 ng-maxlength=20 required/>
			    		<span style="color:red" ng-show="signup_form.lastName.$dirty && signup_form.lastName.$invalid">
							<span ng-show="signup_form.lastName.$error.required">Last Name is required</span>
							<span ng-show="signup_form.lastName.$error.minlength">Last Name is required to be at least 1 characters</span>
							<span ng-show="signup_form.lastName.$error.maxlength">Last Name cannot be longer than 20 characters</span>
						</span>
			    	</div>
			    </div><br>
			    <div class="row">
					<div class="large-12 columns">
						<label>Street Address1<span style="color:red">*</span>:</label>
			    		<input type="text" placeholder="Address1" name="address1" size="40" ng-model="shipping.address" required/>
			    		<span style="color:red" ng-show="signup_form.address1.$dirty && signup_form.address1.$invalid">
							<span ng-show="signup_form.address1.$error.required">Street address1 is required</span>
						</span>
			    	</div>
			    </div><br>
			    <div class="row">
					<div class="large-12 columns">
						<label>Street Address2<span style="color:red">*</span>:</label>
			    		<input type="text" placeholder="Address2" name="address2" size="40" ng-model="shipping.address2" required/>
			    		<span style="color:red" ng-show="signup_form.address2.$dirty && signup_form.address2.$invalid">
							<span ng-show="signup_form.address2.$error.required">Street address2 is required</span>
						</span>
			    	</div>
			    </div><br>

			    <div class="row">
					<div class="large-12 columns">
						<label>City<span style="color:red">*</span>:</label>
			    		<input type="text" placeholder="City" name="city" size="40" ng-model="shipping.city" required/>
			    		<span style="color:red" ng-show="signup_form.city.$dirty && signup_form.city.$invalid">
							<span ng-show="signup_form.city.$error.required">City is required</span>
						</span>
			    	</div>
			    </div><br>
			    <div class="row">
					<div class="large-12 columns">
						<label>Country<span style="color:red">*</span>:</label>
			    		<select name="country" ng-model="shipping.country" ng-options="country as country.name for country in countries track by country.code" ng-change='onSDropDownAction()' ng-disabled="address.checked">
					    	<option value="">==Select Country==</option>
					    </select>
					    <span style="color:red" ng-show="countryNotSelected">
							<span ng-show="countryNotSelected">Country is required</span>
						</span>
			    	</div>
			    </div><br>
			    <div class="row">
					<div class="large-12 columns">
						<label ng-show="isSStates">State/Province<span style="color:red">*</span>:</label>
					    <select name="sstate" ng-model="shipping.state" ng-options="state as state.name for state in states track by state.code" ng-change='onSStateDropDownAction()' ng-show="isSStates" ng-disabled="address.checked">
					    	<option value="">==Select State/Province==</option>
					    </select>
					    <span style="color:red" ng-show="isSStates">
							<span ng-show="stateNotSelected">State/Province is required</span>
						</span>
			    	</div>
			    </div><br ng-show="isSStates">
			    <div class="row">
					<div class="large-12 columns">
						<label>Postal Code<span style="color:red">*</span>:</label>
			    		<input type="text" placeholder="1234567890" name="pcode" size="40" ng-model="shipping.postalCode" ng-pattern="onlyNumbers" required/>
			    		<span style="color:red" ng-show="signup_form.pcode.$dirty && signup_form.pcode.$invalid">
							<span ng-show="signup_form.pcode.$error.required">Postal Code is required</span>
							<span ng-show="signup_form.pcode.$error.pattern">Postal Code is required to be numbers only</span>
						</span>
			    	</div>
			    </div><br>
			    <div class="row">
					<div class="large-12 columns">
						<label>Telephone<span style="color:red">*</span>:</label>
			    		<input type="text" placeholder="1234567890" name="phone" size="40" ng-model="shipping.phone" ng-pattern="onlyNumbers" required/>
			    		<span style="color:red" ng-show="signup_form.sphone.$dirty && signup_form.sphone.$invalid">
							<span ng-show="signup_form.sphone.$error.required">Telephone is required</span>
							<span ng-show="signup_form.sphone.$error.pattern">Telephone is required to be numbers only</span>
						</span>
			    	</div>
			    </div><br>
			    <div class="row">
					<div class="large-12 columns">
						<label>Fax:</label>
			    		<input type="text" placeholder="1234567890" name="fax" size="40" ng-model="shipping.fax"/>
			    	</div>
			    </div><br>
		    </div>
		    
		    <legend>Select Payment Method</legend>
		    <div class="row">
				<div class="large-12 columns">
					<input type="radio" ng-model="payment" value="COD">  Cash On Delivery <br/>
  					<input type="radio" ng-model="payment" value="DC"> Debit Card <br/>
  					<input type="radio" ng-model="payment" value="CC"> Credit Card <br/>
  					<input type="radio" ng-model="payment" value="NB"> Net Banking <br/>
		    	</div>
		    </div>
		    <br><br>
		    
		    <legend>Your comments</legend>
		    <div class="row">
				<div class="large-12 columns">
					<textarea ng-model="comment" placeholder="Your Comment" style='width:550px'></textarea>
		    	</div>
		    </div>
		    <br><br>
		    
		    <button type="submit" class="button radius" ng-disabled="">Checkout Cart</button>
	    </fieldset>
  	</form>
</div>